.container {
	width: 80%;
	margin-left: 10%;
}
.col-md-3 {

}
.col-md-12 {

}
#cat_topheader {
	/*background-color: darkgreen;*/
	/*font-family: exo;*/
	font-family: gotham;
	font-size: 2em;
	/*color: white;*/
	padding: 20px;
	margin-bottom: 5px;
	/*text-shadow: 0 0 1px black;*/
	color: black;
			 background-size: cover; 
	 background-position: fixed;
	/*box-shadow: 0 0 1px black;*/

	border: 3px solid rgba(0,0,0,0.9);

}
#page_title {

	margin-bottom: 30px;
	font-size: 3.2em;
}
.tile {
	/*background-color: darkred;*/
	padding: 20px;
	font-family: exo;
	font-size: 1.3em;
	color: black;
	/*text-shadow: 0 0 2px black;*/
	opacity: 0.8;
	/*box-shadow: 0 0 1px black;*/
	border: 2px solid rgba(0,0,0,0.9);
	 background-size: cover; 
	 background-position: fixed;
	padding: 10px;
	/*border: 1px solid black;*/
	/*box-shadow: 0 0 3px black;*/
}
.tile:hover {
	opacity: 1;
	cursor: pointer;
	box-shadow: 0 0 20px black;
}
#cat_topheader:hover {
	cursor: pointer;
	box-shadow: 0 0 20px black;
}
.post_tile {
	display: block;
	font-family: gotham;
	text-transform: uppercase;
/*color:white;*/
	font-size: 0.9em;
}
.tile .author_tile {
	display: block;
	font-family: gotham;
	/*color: black;*/
	font-size: 0.7em;
}
.white {
	color: rgba(255,255,255,1);

text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
}
.gray {
	color: rgba(255,255,255,0.8);
text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;

}
.tags_area {
	font-size: 0.8em;
}
.tag {
	background-color: rgba(255,255,255,0.9);
	border: 2px solid black;
}
.tag:hover {
	background-color: black;

}
.tags_tile {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 0.6em;
}
#cat_topheader .tags_tile {
	font-size: 0.6em;
}
#cat_topheader .post_tile {
font-size: 1.0em;
}
#cat_topheader .author_tile {
	font-size: 0.7em;
	/*color: rgba(0,0,0,0.5);*/
}
a:hover {
	text-decoration: none;
	color: black;
}
#searchbar {
	/*border-collapse: separate;*/
	border-spacing: 10px 10px;
}
#cat_topheader a {
	color: black;
}
.tag a {
	color: black;
}
.tag:hover {
background-color: rgba(0,0,0,0.8);
}
.category_tag {
	padding: 7px;
}